
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-fire page-title-icon"></i>
                <h2>Región San Pedro Sula, Misión y Visión</h2>
            </div>
        </div>
    </div>
</div>

<div class="about-us container">
    <div class="row">
        <div class="about-us-text span12">
            <table>
                <tr>
                    <td>
                        <h4>Misión</h4>
                        <p>Entendiendo que la obra y gloria de Dios es “llevar a cabo la inmortalidad y la vida eterna del hombre” (Moises 1:39), la misión de la Región San Pedro Sula es ayudar a todas las personas que viven dentro de sus límites geográficos a calificar para que la expiación de Jesucristo pueda permitirles ganar la Vida Eterna y alcanzar así la Exaltación.</p>
                        

                        <h4>Visión</h4>
                        <p>Para poder lograr que la gente se acerque a Jesucristo y logre beneficiarse al máximo de su expiación es necesario trabajar para tener más:</p>
                        <ul style="margin-left: 5%">
                            <li>
                                Familias y miembros fuertes siguiendo a Cristo al recibir las ordenanzas salvadoras y al vivir los principios del Evangelio en el hogar.
                            </li>
                            <li>
                                Almas llevadas a Cristo por medio de un continuo rescate y cuidado del individuo, incluyendo a los menos activos, conversos, viudas y los pobres y necesitados.
                            </li>
                            <li>
                                Una nueva generación con una fe fuerte en Jesucristo, que se deleita en las Escrituras, sirve misiones, se casa en el templo, estudia y obtiene un empleo digno.
                            </li>
                        </ul>
                        <p>Entendemos que si logramos cumplir con esta visión, tendremos un crecimiento verdadero en nuestras unidades (barrios y estacas) y en nuestras familias, lo que preparará a la Región de San Pedro Sula para poder, en un futuro no muy lejano, gozar de la bendición de un templo dentro de la región. </p>
                    </td>
                    <td style="padding-right: 20px; width: 30%">
                        <img src="assets/jesus-christ-ver1.jpg" style="width: 100%">
                    </td>
                </tr>
            </table>
            
            
            <h4>Región San Pedro Sula</h4>
            <p>La Región San Pedro Sula está compuesta por las misiones San Pedro Sula Este y San Pedro Sula Oeste de La Iglesia de Jesucristo de los Santos de los Últimos Días y está ubicada en el sector nor-occidental de Honduras:</p>
            <table id="hor-minimalist-d">
                <tr>
                    <th>San Pedro Sula Este</td>
                    <th>San Pedro Sula Oeste</td>
                </tr>
                <tr>
                    <td>Estaca Satélite</td>
                    <td>Estaca Valle de Sula</td>
                </tr>
                <tr>
                    <td>Estaca La Lima</td>
                    <td>Estaca San Pedro Sula<a href="http://www.estacasps.org/" target="_blank"> (visitar página web)</a></td>
                </tr>
                <tr>
                    <td>Estaca El Progreso</td>
                    <td>Estaca Fesitranh</td>
                </tr>
                <tr>
                    <td>Estaca La Ceiba</td>
                    <td>Estaca Merendón</td>
                </tr>
                <tr>
                    <td>Distrito Olanchito</td>
                    <td>Estaca Villanueva</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Distrito Santa Rosa</td>
                </tr>
            </table>
            <p style="text-align: justify">
                <img src="assets/nosotros.jpg">
                De izquierda a derecha, <strong>arriba</strong> - Presidentes Leonel Lara (Valle de Sula), Enos Valladares (Satelite), Ángel Cruz (La Lima), Bernardo Hernández (Fesitranh), Rene Zelaya (La Ceiba), Marco Baquedano (El Progreso), Carlos Flores (Villanueva), Jared R. Ocampo (Setenta), Geovany Arita (Santa Rosa), <strong>abajo</strong> – Miguel Sing (Merendón), Ronald Veirs (Misión SPS), Héctor Manley (San Pedro Sula), Rodolfo Doblado (Olanchito)
            </p>

            <h4>Contáctenos</h4>
            <p><b>Si quiere contactarnos puede hacerlo</b> visítanos en <a href="/contact_us" target="_blank">aquí</a></p>
            
        </div>
    </div>
</div>