<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-exclamation-sign page-title-icon"></i>
                <h2>Dashboard/</h2>
                <p>Estadisticas y reportes</p>
            </div>
        </div>
    </div>
</div>

<div class="about-us container">
    <div class="row">
        <div class="about-us-text span12">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h3>En construcción.</h3>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>