<div class="page-title">
	<div class="row">
		<div class="contact-form span4"></div>
		<div class="contact-us login-form span4">
          <div class="span12"><h3>Recuperar Contraseña</h3></div>
			<%= form_tag reset_password_request_path , :remote => true  do %>
		      <%= label_tag :email, 'Email' %>
		      <%= text_field_tag :email %>
              <%= submit_tag "Recuperar" %>
		    <% end %>
    	</div>
	</div>
</div>