<div class"name">
<%= f.label :url, 'o URL', :class => 'nameLabel' %>
<%= f.text_field :url, :placeholder => 'URL de recurso existente...' %>
</div>
<div class="name">
  <%= f.label :description, 'Descripción', :class => 'nameLabel' %>
  <%= f.text_area :description, :placeholder => 'Descripción del recurso...' %>
</div>