<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="span12">
        <i class="icon-folder-open page-title-icon"></i>
        <h2>Articulos</h2>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <%= render partial: 'article', collection: @articles %>

  <%= will_paginate @articles %>
</div>