<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-calendar page-title-icon"></i>
                <h2>Viajes al Templo</h2>
            </div>
        </div>
    </div>
</div>

<div class="what-we-do.container">
    <div class="row">
    	<br/>
		<div id='calendar'>
			<iframe src="https://www.google.com/calendar/embed?title=Eventos%20de%20la%20Iglesia&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=secretario%40regionsps.org&amp;color=%232952A3&amp;ctz=America%2FGuatemala" style=" border-width:0 " width="1200" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
</div>