<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-fire page-title-icon"></i>
                <h2>Mensaje enviado</h2>
            </div>
        </div>
    </div>
</div>

<div class="about-us container">
    <div class="row">
        <div class="about-us-text span12">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <h3 style="margin-left: 35%">Su mensaje ha sido enviado. <br/>Gracias por contactarnos.</h3>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>