.page-title
	.row
		.contact-form.span3
		.contact-us.login-form.span7

			%table#hor-minimalist-b
				%thead
					%tr
						%th{scope: "col"} Tipo de Estadística
						%th{scope: "col"} Total del Mes
						%th{scope: "col"} Acumulados
						%th{scope: "col"} Meta
				%tbody
					- @stadistics.each do |s|
						%tr
							%td= Typestadistic.find(s.typestadistic_id).name
							%td= s.total

							- collectStad = Stadistic.where("typestadistic_id = ? and month <= ? and year = ? and chapel_id = ?", s.typestadistic_id, @month, @year, @chapel)

							- @sum = 0
							- collectStad.each do |cs|
								- @sum = @sum + cs.total

							%td= @sum

							- goal = Goal.where("typestadistic_id = ? and year = ? and chapel_id = ?", s.typestadistic_id, @year, @chapel)

							%td= goal.first.total
			%br/