img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

.FileUpload {
    position:relative;
}

.BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background:url(upload.png) 100% 1px no-repeat;
    width:345px;
	height:30px;
}

.BrowserVisible input.FileField {
    width:200px;
    height: 20px;
    margin-right:85px;
	padding: 6px;
    font-size: 13px;
    background: #fff url('upload_bg.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
	color: #333;
	border-radius: 4px 4px 4px 4px !important;
}

input.BrowserHidden {
    position:relative;
    width:345px;
	height:30px;
    text-align: right;
    -moz-opacity:0;
    filter:alpha(opacity = 0);
    opacity: 0;
    z-index: 2;
	
}
p {
    margin-bottom: 0px;
    vertical-align: baseline;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.img-decor {
    padding: 1px;
    background-color: #fff;
    border: 1px solid #9ea0a2;
    -moz-box-shadow: 2px 4px 13px #bbb;
    -webkit-box-shadow: 2px 4px 13px #bbb;
    box-shadow: 2px 4px 13px #bbb;
}
.img-no-shadow, .img-temple {
    background-color: #FFFFFF;
    border: 1px solid #afa190;
    padding: 1px;
}
.teasers {
    border-bottom: 1px dashed #d4d1c8;
    padding-bottom: 15px;
}
.teasers h2 {
    margin-bottom: 12px;
}
.teasers li {
    min-height: 125px;
    padding: 0 0 22px 41.469194312796%;
    position: relative;
    vertical-align: baseline;
}
.teasers p {
    color: #706f6b;
    line-height: 18px;
}
.teasers li img {
    position: absolute;
    top: 0;
    left: 0;
}
.chuckit:after {
    color:#A2C864;
    display:inline-block;
    font-size:14px;
    position:relative;
    top:0;
    margin-left:6px;
    /*border:1px solid red;*/
}
.resource_desc{
    margin-left: 10px;
    text-align:justify;
    text-justify:inter-word;
    margin-right: 15px
}

div.margin-div{
    margin-left: 20px;
}

div.margin-div-user{
    margin-left: 40px;
    margin-right: 50px;
}

input.check_box_item{
    color: red;
}
label.checkbox{
    margin-left: 30px;
}


button.mine {
    width: 120px;
    height: 30px;
    margin-top: 15px;
    background: #3b4b6d;
    border: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    -moz-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 1px 25px 0 rgba(0,0,0,.05) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

button.mine:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.mine:active {
    -moz-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 10px 0 rgba(0,0,0,.15) inset,
        0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

li.error-item{
    color: red;
    margin-left: 20px;
    font-style: italic;
}