<footer>
    <div class="container">        
        <div class="footer-border"></div>
        <div class="row">
            <div class="copyright span5">
                <p>Copyright <%= Time.now.year %> Región San Pedro Sula: La Iglesia de los Santos de los Últimos Días. Template by <a href="http://azmind.com">Azmind</a>.</p>
            </div>
            <div class="social span7">
                <a class="facebook" href=""></a>
                <a class="twitter" href=""></a>
            </div>
        </div>
    </div>
</footer>