<footer>
    <div class="container">        
        <div class="footer-border"></div>
        <div class="row">
            <div class="copyright span5">
                <p>Copyright <%= Time.now.year %> Región San Pedro Sula. Template by <a href="http://azmind.com">Azmind</a>.</p>
            </div>
            <div class="social span7">
            </div>
        </div>
    </div>
</footer>