	<div class="container">
        <div class="header row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="/">Author: Nestor Bermudez (nestor.bermudez@unitec.edu)</a>
                        </h1>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li
                                <% if @current_page == "INICIO" %>
                                    class="current-page"
                                <%end %>
                                >
                                    <a href="/"><i class="icon-home"></i><br />Inicio</a>
                                </li>
                                <li
                                <% if @current_page == "RECURSOS" %>
                                    class="current-page"
                                <%end %>
                                >
                                    <a href="/recursos"><i class="icon-folder-open"></i><br />Recursos</a>
                                </li>
                                <li>

                              <li>
                                
                                <li
                                class="dropdown" >
                                  <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#"><i class="icon-calendar"></i><br />Eventos<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="events" tabindex="-1">Actividades de la Region</a></li>
                                    <li><a href="trips" tabindex="-1">Viajes al Templo</a></li>
                                  </ul>
                                </li>

                                <% unless current_user.nil? %>
                                <li
                                <% if @current_page == "DASHBOARD" %>
                                    class="current-page"
                                <%end %>
                                >
                                    <a href="/dashboard"><i class="icon-inbox"></i><br />Dashboard</a>
                                </li>
                                <% end %>
                                <li
                                <% if @current_page == "NOSOTROS" %>
                                    class="current-page"
                                <%end %>
                                >
                                    <a href="/nosotros"><i class="icon-fire"></i><br />Nosotros</a>
                                </li>                                
                                <li
                                class="dropdown" >
                                  <a class="dropdown-toggle" data-hover="dropdown" data-toggle="" href="admin"><i class="icon-signin"></i><br />Administrar<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><%= link_to 'Logout', signout_path,:tabindex=>"-1", :method => :delete %></li>
                                  </ul>
                                </li>

                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>